/* App.css */

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.login-sign {
  font-size: 14px;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.question-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px; /* Add margin to separate question box from response box */
}

.question-input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
}

.ask-button {
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.response-box {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}
/* SignUp.css */

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f0f0; */
}

.signup-form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.signup-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease-in-out;
}

.signup-form input:focus {
  border-color: #3498db;
  outline: none;
}

.signup-form button {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.signup-form button:hover {
  background-color: #2980b9;
}

